# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
dist/
build/
coverage/

# Logs
logs/
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Temporary files
tmp/
temp/
.cache/

# MongoDB data
data/db/

# Testing
.nyc_output/

# unwanted docs
docs/Wotr Impl
docs/Refactoring.md
docs/archive